.description img {
    margin-inline: auto;
}

.blog-container {
}

.description code {
    font-size: 0.875rem;
    display: inline-block;
    /* line-height: 1px; */
}

:is(.description, figcaption) a {
    text-decoration: underline;
}
